<div class="container">
    <!--<div class="col-4">-->
  <!--<h4>Select Chapters</h4>-->
  <!--<ul class="heroes">-->
    <!--<li *ngFor="let chapter of chapters"-->
        <!--[class.selected]="chapter === selectedChapter"-->
        <!--(click)="onSelect(chapter)">-->
      <!--<span class="badge">{{chapter.chapterId}}</span> {{chapter.chapterName}}-->
    <!--</li>-->
  <!--</ul>-->
  <!--</div>-->

    <h3>Add Question</h3>
    <div class="row">
        <app-add-question #statementPortion [questionPortion]="statement" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>
    <div class="row">
      <app-add-question #optionOnePortion [questionPortion]="option1" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>
    <div class="row">
      <app-add-question #optionTwoPortion [questionPortion]="option2" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>
    <div class="row">
      <app-add-question #optionThreePortion [questionPortion]="option3" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>
    <div class="row">
      <app-add-question #optionFourPortion [questionPortion]="option4" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>
    <div class="row">
      <app-add-question #solutionPortion [questionPortion]="solution" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>

    <div class="row">
      <button md-raised-button color="primary" (click)="requestComponentsToSendData()" ><md-icon>done_all</md-icon></button>
    </div>
</div>
