<div class="container">
  <div class="row">
      <div class="col-2">

        <form class="row">
          <md-select placeholder="Select Subject" [(ngModel)]="selectedSubjectId" name="subject" class="col-12">
            <md-option *ngFor="let subject of subjects" [value]="subject.subjectId" (onSelect)="subjectSelected(subject.subjectId)">
               {{subject.subjectName}}
            </md-option>
          </md-select>

          <md-select placeholder="Select Branch" [(ngModel)]="selectedBranchName" name="branch" class="col-12">
            <md-option *ngFor="let branch of branches" [value]="branch.branchName" (onSelect)="branchSelected(branch.branchName)">
              {{branch.branchName}}
            </md-option>

          </md-select>
          <!--<p> Selected Branch Name : {{selectedBranchName}}</p>-->

          <md-select placeholder="Select Chapter" [(ngModel)]="selectedChapterId" name="chapter" class="col-12">
            <md-option *ngFor="let chapter of chapters" [value]="chapter.chapterId" (onSelect)="chapterSelected(chapter.chapterId)">
              {{chapter.chapterName}}
            </md-option>
          </md-select>
          <!--<p>Selected Chapter id is :{{selectedChapterId}}</p>-->

          <md-select placeholder="Select Topic" [(ngModel)]="selectedTopicId" name="topic" class="col-12">
            <md-option *ngFor="let topic of topics" [value]="topic.topicId" (onSelect)="topicSelected(topic.topicId)">
              {{topic.topicName}}
            </md-option>
          </md-select>
          <!--<p>Selected Topic id is :{{selectedTopicId}}</p>-->

        </form>

    </div>

  <div class="col-10" *ngIf="baseImageResponse">

    <h3>Add Question</h3>
    <div class="row">
        <app-add-question #statementPortion [tempArray]="tempArray" [baseImageUrl]="baseImageResponse['baseImageUrl']" [questionPortion]="statement" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>
    <div class="row">
      <app-add-question #optionOnePortion [tempArray]="tempArray" [baseImageUrl]="baseImageResponse['baseImageUrl']" [questionPortion]="option1" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>
    <div class="row">
      <app-add-question #optionTwoPortion [tempArray]="tempArray" [baseImageUrl]="baseImageResponse['baseImageUrl']" [questionPortion]="option2" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>
    <div class="row">
      <app-add-question #optionThreePortion [tempArray]="tempArray" [baseImageUrl]="baseImageResponse['baseImageUrl']" [questionPortion]="option3" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>
    <div class="row">
      <app-add-question #optionFourPortion [tempArray]="tempArray"  [baseImageUrl]="baseImageResponse['baseImageUrl']" [questionPortion]="option4" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>
    <div class="row">
      <app-add-question #solutionPortion [tempArray]="tempArray"  [baseImageUrl]="baseImageResponse['baseImageUrl']" [questionPortion]="solution" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>

    <div class="row">
      <button md-raised-button color="primary" (click)="requestComponentsToSendData()" ><md-icon>done_all</md-icon></button>
    </div>
   </div>
 </div>
</div>
