<div class="container">
  <div class="row">
      <div class="col-4">

        <form>
          <md-select placeholder="Select Subject" [(ngModel)]="selectedSubjectId" name="subject">
            <md-option *ngFor="let subject of subjects" [value]="subject.subjectId" (onSelect)="subjectSelected(subject.subjectId)">
               {{subject.subjectName}}
            </md-option>
          </md-select>

          <p> Selected value: {{selectedSubjectId}}</p>

          <md-select placeholder="Select Branch" [(ngModel)]="selectedBranchId" name="branch">
            <md-option *ngFor="let branch of branches" [value]="branch.branchId">
              {{branch.branchName}}
            </md-option>

          </md-select>
          <p> Selected Branch Id : {{selectedBranchId}}</p>


        </form>
    </div>

  <div class="col-8">

    <h3>Add Question</h3>
    <div class="row">
        <app-add-question #statementPortion [questionPortion]="statement" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>
    <div class="row">
      <app-add-question #optionOnePortion [questionPortion]="option1" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>
    <div class="row">
      <app-add-question #optionTwoPortion [questionPortion]="option2" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>
    <div class="row">
      <app-add-question #optionThreePortion [questionPortion]="option3" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>
    <div class="row">
      <app-add-question #optionFourPortion [questionPortion]="option4" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>
    <div class="row">
      <app-add-question #solutionPortion [questionPortion]="solution" (questionsPortionAdded)="handleQuestionsPortionAdded($event)"></app-add-question>
    </div>

    <div class="row">
      <button md-raised-button color="primary" (click)="requestComponentsToSendData()" ><md-icon>done_all</md-icon></button>
    </div>
   </div>
 </div>
</div>
