<div class="container">
  <div class="row" *ngFor="let atom of atomsArray">

    <div class="col-6">

      <md-radio-group class="example-radio-group ">
        <md-radio-button class="example-radio-button" [value]="isText" [checked]="atom.isText" (change)="atom.isText=true;atom.isEquation=false;atom.isImage=false">
          {{isText}}
        </md-radio-button>
        <md-radio-button class="example-radio-button" [value]="isImage" [checked]="atom.isImage" (change)="atom.isText=false;atom.isEquation=false;atom.isImage=true">
          {{isImage}}
        </md-radio-button>
        <md-radio-button class="example-radio-button" [value]="isEquation" [checked]="atom.isEquation" (change)="atom.isText=false;atom.isEquation=true;atom.isImage=false">
          {{isEquation}}
        </md-radio-button>
      </md-radio-group>
    </div>


    <div class="col-6">
      <textarea *ngIf="atom.isText==true||atom.isEquation==true" md-input placeholder="text" [(ngModel)]="atom.text" ></textarea>
      <input *ngIf="atom.isImage==true" type="file"
             ngFileSelect
             [options]="options"
             (onUpload)="handleUpload($event)"
             (beforeUpload)="beforeUpload($event)">

      <!-- drag & drop file example-->
      <style>
        .file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
      </style>
      <div ngFileDrop
           [options]="options"
           (onUpload)="handleUpload($event)"
           [ngClass]="{'file-over': hasBaseDropZoneOver}"
           (onFileOver)="fileOverBase($event)"
           (beforeUpload)="beforeUpload($event)">
      </div>

      <div>
        Response:{{atom.text}}
      </div>
    </div>

  </div>

  <div class="row" *ngIf="doneWithThisPortion==false">

    <div class="col">

      <md-radio-group class="example-radio-group ">
        <md-radio-button class="example-radio-button" [checked]="atom.isText" [value]="isText" (change)="atom.isText=true;atom.isEquation=false;atom.isImage=false">
          {{isText}}
        </md-radio-button>
        <md-radio-button class="example-radio-button" [checked]="atom.isImage" [value]="isImage"  (change)="atom.isText=false;atom.isEquation=false;atom.isImage=true">
          {{isImage}}
        </md-radio-button>
        <md-radio-button class="example-radio-button" [checked]="atom.isEquation" [value]="isEquation"  (change)="atom.isText=false;atom.isEquation=true;atom.isImage=false">
          {{isEquation}}
        </md-radio-button>
      </md-radio-group>
    </div>

    <div class="col">
      <textarea *ngIf="atom.isText==true||atom.isEquation==true" md-input placeholder="text" [(ngModel)]="atom.text" ></textarea>
      <input *ngIf="atom.isImage==true" type="file"
             ngFileSelect
             [options]="options"
             (onUpload)="handleUpload($event)"
             (beforeUpload)="beforeUpload($event)">

      <!-- drag & drop file example-->
      <style>
        .file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
      </style>
      <div ngFileDrop
           [options]="options"
           (onUpload)="handleUpload($event)"
           [ngClass]="{'file-over': hasBaseDropZoneOver}"
           (onFileOver)="fileOverBase($event)"
           (beforeUpload)="beforeUpload($event)">
      </div>

      <div>
        Response:{{atom.text}}
      </div>
    </div>

    <div class="col">
      <button *ngIf="atom.text!='' || uploadFile!=null " md-fab (click)="onClickPlus()">
        <md-icon class="md-24">add</md-icon>
      </button>
    </div>

  </div>
</div>
