<div>
      <md-radio-group class="example-radio-group col-4 " [(ngModel)]="selectedRadioButton">
        <md-radio-button class="example-radio-button" *ngFor="let textType of textTypes" [value]="textType">
          {{textType}}
        </md-radio-button>
        <div class="example-selected-value">Selected Type is : {{selectedRadioButton}}</div>
      </md-radio-group>


      <md-input-container>
        <textarea md-input placeholder="text" [(ngModel)]="atom.text"></textarea>


      </md-input-container>

  <input type="file"
         ngFileSelect
         [options]="options"
         (onUpload)="handleUpload($event)"
         (beforeUpload)="beforeUpload($event)">

  <!-- drag & drop file example-->
  <style>
    .file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
  </style>
  <div ngFileDrop
       [options]="options"
       (onUpload)="handleUpload($event)"
       [ngClass]="{'file-over': hasBaseDropZoneOver}"
       (onFileOver)="fileOverBase($event)"
       (beforeUpload)="beforeUpload($event)">
  </div>

  <div>
    Response: {{ uploadFile | json }}
  </div>

  <button md-fab color="primary"><md-icon>add</md-icon></button>
  <button md-fab color="secondary"><md-icon>check</md-icon></button>


</div>
