<div class="container">
<div class="row">

  <div class="col-4">

      <md-radio-group class="example-radio-group " [(ngModel)]="selectedRadioButton">
        <md-radio-button class="example-radio-button" *ngFor="let textType of textTypes" [value]="textType">
          {{textType}}
        </md-radio-button>
        <div class="example-selected-value">Selected Type is : {{selectedRadioButton}}</div>
      </md-radio-group>
  </div>

  <div class="col-4">
    <textarea *ngIf="selectedRadioButton!='isImage'"md-input placeholder="text" [(ngModel)]="atom.text" ></textarea>
    <input  *ngIf="selectedRadioButton=='isImage'" type="file"
           ngFileSelect
           [options]="options"
           (onUpload)="handleUpload($event)"
           (beforeUpload)="beforeUpload($event)">


    <div ngFileDrop
         [options]="options"
         (onUpload)="handleUpload($event)"
         [ngClass]="{'file-over': hasBaseDropZoneOver}"
         (onFileOver)="fileOverBase($event)"
         (beforeUpload)="beforeUpload($event)">
    </div>

    <div>
      Response: {{ uploadFile | json }}
    </div>
  </div>

  <div class="col-4">

    <button md-fab>
      <md-icon class="md-24">add</md-icon>
    </button>

    <button md-raised-button color="warn"><md-icon>done</md-icon></button>
  </div>



</div>
</div>
